@import 'variables';

body {
  font-family: 'Manrope', sans-serif;
  background-color: $very-pale-blue;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
}

.balls {
  align-self: center;
  height: 200px;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include mobile {
  }

  img {
    position: relative;
    top: 48px;
    left: -8px;
    width: 157px;
    height: 157px;
  }
}

.top {
  height: 44%;
  background-color: $light-grayish-blue1;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 170px;

  div {
    position: relative;
    top: 15%;
    text-align: center;
    z-index: 12;
    h1 {
      position: relative;
      top: 4%;
      @include mobile {
        font-size: 22px;
        padding-bottom: 10px;
      }
    }
    p {
      color: $grayish-blue;
      @include mobile {
        font-size: 15px;
      }
    }
  }
}

.main {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  .main__square {
    position: absolute;
    top: 25%;
    height: 26rem;
    width: 37rem;
    background-color: $white;
    box-shadow: 0px 10px 35px gainsboro;
    border-radius: 20px;
    @include medium {
      height: 21rem;
      width: 32rem;
    }
    @include small {
      height: 25rem;
      width: 27rem;
    }
    @include mobile {
      height: 40%;
      width: 90%;
      align-self: center !important;
    }

    .main__top {
      height: 60%;
      width: 100%;
      background-color: $white;
      font-weight: 800;
      border-bottom: 1px solid gainsboro;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

      @include mobile {
        margin-top: 15px;
      }

      .main__pageviews {
        position: relative;
        left: -140px;
        top: -42px;
        color: $grayish-blue;
        letter-spacing: 1.5px;
        margin: 0;
        padding: 0;
        width: 150px;
        height: 11px;

        @include small {
          left: -100px;
          top: -50px;
          font-size: 15px;
        }
        @include mobile {
          left: -77px;
          top: -40px;
          font-size: 13px;
        }
      }
      .main__price {
        position: relative;
        display: block;
        left: 121px;
        top: -60px;
        color: $grayish-blue;
        letter-spacing: 1.5px;
        margin: 0;
        padding: 0;
        width: 190px;
        height: 11px;

        @include small {
          left: 77px;
        }
        @include mobile {
          font-size: 22px;
          left: 54px;
          top: -45px;
        }

        h1 {
          font-size: 34px;
          position: relative;
          top: -16px;
          left: -2px;
          color: $dark-saturated-blue;

          @include small {
            font-size: 26px;
            top: -28px;
            left: 20px;
          }
          @include mobile {
            font-size: 22px;
            left: 40px;
            width: 80%;
          }
        }
        p {
          font-size: 15px;
          position: relative;
          top: -71px;
          left: 127px;
          width: 30%;
        }
      }
      .main__billing {
        position: relative;
        top: 55px;
        left: 40px;
        width: 60%;
        height: 20px;
        z-index: 40;
        margin: 0;
        padding: 0;

        @include small {
          top: 55px;
          left: -50px;
        }
        @include mobile {
          width: 80%;
          left: 0;
          height: 60px;
        }

        .main__monthly-billing {
          color: $grayish-blue;
          position: relative;
          top: -15px;
          left: 10px;
          font-size: 12px;
        }
        .main__yearly-billing {
          color: $grayish-blue;
          position: absolute;
          top: -15px;
          left: 165px;
          font-size: 12px;
        }
        .main__discount {
          width: 75px;
          height: 18px;
          background-color: $light-grayish-red;
          color: $light-red;
          z-index: 20;
          border-radius: 20px;
          text-align: center;
          position: relative;
          left: 245px;
          top: -74px;
          @include mobile {
            top: -55px;
            left: 165px;
          }

          p {
            font-size: 10px;
            position: relative;
            top: 1px;
          }
        }
        .main__switch {
          position: relative;
          display: inline-block;
          width: 45px;
          height: 22px;
          top: -45px;
          left: 110px;

          input {
            opacity: 0;
            width: 0;
            height: 0;
          }
        }

        .main__slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $light-grayish-blue2;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        .main__slider:before {
          position: absolute;
          content: '';
          height: 14px;
          width: 14px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        input:checked + .main__slider {
          background-color: $strong-cyan;
        }

        input:focus + .main__slider {
          box-shadow: 0 0 1px $strong-cyan;
        }

        input:checked + .main__slider:before {
          -webkit-transform: translateX(21px);
          -ms-transform: translateX(21px);
          transform: translateX(21px);
        }

        /* Rounded sliders */
        .main__slider.round {
          border-radius: 34px;
        }

        .main__slider.round:before {
          border-radius: 50%;
        }
      }
    }

    .main__bottom {
      .main__card-check {
        position: relative;
        top: 30px;
        left: 65px;
        width: 170px;
        height: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        @include mobile {
          margin-left: -50px;
          margin-top: -20px;
        }

        div {
          font-size: 12px;
          color: $grayish-blue;
          margin: 5px;
          height: 20px;
          display: flex;

          .main__icon-check {
            width: 11px;
            height: 11px;
            position: relative;
            top: 5px;
            margin-right: 15px;
          }
          p {
            position: relative;
            top: -10px;
          }
        }
      }

      .main__button {
        background-color: $dark-saturated-blue;
        border: none;
        color: $pale-blue;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        margin: 4px 2px;
        cursor: pointer;
        position: relative;
        left: 330px;
        top: -43px;
        width: 160px;
        height: 42px;
        border-radius: 50px;
        padding: 0;
        font-weight: 800;
        @include small {
          margin-left: -80px;
        }
        @include mobile {
          margin-left: -135px;
          font-size: 12px;
          width: 125px;
          height: 40px;
        }
      }
    }

    #main__slider {
      position: relative;
      background: $light-grayish-blue1;
      border-radius: 8px;
      height: 7px;
      width: 80%;
      outline: none;
      transition: background 450ms ease-in;
      -webkit-appearance: none;

      &::-moz-range-thumb {
        width: 35px;
        height: 35px;
        background: $soft-cyan;
        cursor: pointer;
        border-radius: 50%;
        border: $strong-cyan;
        box-shadow: 0px 10px 20px $strong-cyan;

        &:hover {
          background-image: url(/images/icon-slider.svg);
          background-repeat: no-repeat;
          background-position: center;
          display: block;
        }
        &:active {
          background-color: $strong-cyan;
          background-image: url(/images/icon-slider.svg);
          background-repeat: no-repeat;
          background-position: center;
          display: block;
        }
      }

      .main__bottom {
        background-color: $white;
        height: 40%;
        width: 100%;
      }
    }
  }
}

.attribution {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align: center;
  @include mobile {
    font-size: 12px;
  }

  a {
    color: hsl(228, 45%, 44%);
  }
}
