body {
  font-family: 'Manrope', sans-serif;
  background-color: #fafbff;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
}

.balls {
  -ms-flex-item-align: center;
      align-self: center;
  height: 200px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.balls img {
  position: relative;
  top: 48px;
  left: -8px;
  width: 157px;
  height: 157px;
}

.top {
  height: 44%;
  background-color: #eaeefb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom-left-radius: 170px;
}

.top div {
  position: relative;
  top: 15%;
  text-align: center;
  z-index: 12;
}

.top div h1 {
  position: relative;
  top: 4%;
}

@media (max-width: 430px) {
  .top div h1 {
    font-size: 22px;
    padding-bottom: 10px;
  }
}

.top div p {
  color: #858fad;
}

@media (max-width: 430px) {
  .top div p {
    font-size: 15px;
  }
}

.main {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .main__square {
  position: absolute;
  top: 25%;
  height: 26rem;
  width: 37rem;
  background-color: white;
  -webkit-box-shadow: 0px 10px 35px gainsboro;
          box-shadow: 0px 10px 35px gainsboro;
  border-radius: 20px;
}

@media (max-width: 610px) {
  .main .main__square {
    height: 21rem;
    width: 32rem;
  }
}

@media (max-width: 540px) {
  .main .main__square {
    height: 25rem;
    width: 27rem;
  }
}

@media (max-width: 430px) {
  .main .main__square {
    height: 40%;
    width: 80%;
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
    padding: 10px;
  }
}

.main .main__square .main__top {
  height: 60%;
  width: 100%;
  background-color: white;
  font-weight: 800;
  border-bottom: 1px solid gainsboro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media (max-width: 430px) {
  .main .main__square .main__top {
    margin-top: 15px;
  }
}

.main .main__square .main__top .main__pageviews {
  position: relative;
  left: -140px;
  top: -42px;
  color: #858fad;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 0;
  width: 150px;
  height: 11px;
  border: 1px solid red;
}

@media (max-height: 800px) {
  .main .main__square .main__top .main__pageviews {
    margin-top: 20px;
  }
}

@media (max-width: 540px) {
  .main .main__square .main__top .main__pageviews {
    left: -100px;
    top: -50px;
    font-size: 15px;
  }
}

@media (max-width: 430px) {
  .main .main__square .main__top .main__pageviews {
    left: -77px;
    top: -40px;
    font-size: 13px;
  }
}

.main .main__square .main__top .main__price {
  position: relative;
  display: block;
  left: 121px;
  top: -60px;
  color: #858fad;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 0;
  width: 190px;
  height: 11px;
}

@media (max-width: 540px) {
  .main .main__square .main__top .main__price {
    left: 77px;
  }
}

@media (max-width: 430px) {
  .main .main__square .main__top .main__price {
    font-size: 22px;
    left: 54px;
    top: -45px;
  }
}

.main .main__square .main__top .main__price h1 {
  font-size: 34px;
  position: relative;
  top: -16px;
  left: -2px;
  color: #293356;
}

@media (max-width: 540px) {
  .main .main__square .main__top .main__price h1 {
    font-size: 26px;
    top: -28px;
    left: 20px;
  }
}

@media (max-width: 430px) {
  .main .main__square .main__top .main__price h1 {
    font-size: 22px;
    left: 40px;
    width: 80%;
  }
}

.main .main__square .main__top .main__price p {
  font-size: 15px;
  position: relative;
  top: -71px;
  left: 127px;
  width: 30%;
}

.main .main__square .main__top .main__billing {
  position: relative;
  top: 55px;
  left: 40px;
  width: 60%;
  height: 20px;
  z-index: 40;
  margin: 0;
  padding: 0;
  /* Rounded sliders */
}

@media (max-width: 540px) {
  .main .main__square .main__top .main__billing {
    top: 55px;
    left: -50px;
  }
}

@media (max-width: 430px) {
  .main .main__square .main__top .main__billing {
    width: 80%;
    left: 0;
    height: 60px;
  }
}

@media (max-height: 800px) {
  .main .main__square .main__top .main__billing {
    margin-top: -15px;
  }
}

.main .main__square .main__top .main__billing .main__monthly-billing {
  color: #858fad;
  position: relative;
  top: -15px;
  left: 10px;
  font-size: 12px;
}

.main .main__square .main__top .main__billing .main__yearly-billing {
  color: #858fad;
  position: absolute;
  top: -15px;
  left: 165px;
  font-size: 12px;
}

.main .main__square .main__top .main__billing .main__discount {
  width: 75px;
  height: 18px;
  background-color: #feece7;
  color: #ff8c66;
  z-index: 20;
  border-radius: 20px;
  text-align: center;
  position: relative;
  left: 245px;
  top: -74px;
}

@media (max-width: 430px) {
  .main .main__square .main__top .main__billing .main__discount {
    top: -55px;
    left: 165px;
  }
}

.main .main__square .main__top .main__billing .main__discount p {
  font-size: 10px;
  position: relative;
  top: 1px;
}

.main .main__square .main__top .main__billing .main__switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
  top: -45px;
  left: 110px;
}

.main .main__square .main__top .main__billing .main__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.main .main__square .main__top .main__billing .main__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cdd7ee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main .main__square .main__top .main__billing .main__slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main .main__square .main__top .main__billing input:checked + .main__slider {
  background-color: #10d5c2;
}

.main .main__square .main__top .main__billing input:focus + .main__slider {
  -webkit-box-shadow: 0 0 1px #10d5c2;
          box-shadow: 0 0 1px #10d5c2;
}

.main .main__square .main__top .main__billing input:checked + .main__slider:before {
  -webkit-transform: translateX(21px);
  transform: translateX(21px);
}

.main .main__square .main__top .main__billing .main__slider.round {
  border-radius: 34px;
}

.main .main__square .main__top .main__billing .main__slider.round:before {
  border-radius: 50%;
}

.main .main__square .main__bottom .main__card-check {
  position: relative;
  top: 30px;
  left: 65px;
  width: 170px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 430px) {
  .main .main__square .main__bottom .main__card-check {
    margin-left: -50px;
    margin-top: -20px;
  }
}

@media (max-height: 800px) {
  .main .main__square .main__bottom .main__card-check {
    margin-top: -30px;
  }
}

.main .main__square .main__bottom .main__card-check div {
  font-size: 12px;
  color: #858fad;
  margin: 5px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .main__square .main__bottom .main__card-check div .main__icon-check {
  width: 11px;
  height: 11px;
  position: relative;
  top: 5px;
  margin-right: 15px;
}

.main .main__square .main__bottom .main__card-check div p {
  position: relative;
  top: -10px;
}

.main .main__square .main__bottom .main__button {
  background-color: #293356;
  border: none;
  color: #bdccff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  left: 330px;
  top: -43px;
  width: 160px;
  height: 42px;
  border-radius: 50px;
  padding: 0;
  font-weight: 800;
}

@media (max-width: 540px) {
  .main .main__square .main__bottom .main__button {
    margin-left: -80px;
  }
}

@media (max-width: 430px) {
  .main .main__square .main__bottom .main__button {
    margin-left: -135px;
    font-size: 12px;
    width: 125px;
    height: 40px;
  }
}

.main .main__square #main__slider {
  position: relative;
  background: #eaeefb;
  border-radius: 8px;
  height: 7px;
  width: 80%;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.main .main__square #main__slider::-moz-range-thumb {
  width: 35px;
  height: 35px;
  background: #a5f3eb;
  cursor: pointer;
  border-radius: 50%;
  border: #10d5c2;
  box-shadow: 0px 10px 20px #10d5c2;
}

.main .main__square #main__slider::-moz-range-thumb:hover {
  background-image: url(/images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.main .main__square #main__slider::-moz-range-thumb:active {
  background-color: #10d5c2;
  background-image: url(/images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.main .main__square #main__slider .main__bottom {
  background-color: white;
  height: 40%;
  width: 100%;
}

.attribution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 430px) {
  .attribution {
    font-size: 12px;
  }
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=styles.css.map */