//Primary color
$soft-cyan: hsl(174, 77%, 80%); //Full Slider Bar
$strong-cyan: hsl(174, 86%, 45%); //Slider Background
$light-grayish-red: hsl(14, 92%, 95%); //Discount Background
$light-red: hsl(15, 100%, 70%); //Discount Text
$pale-blue: hsl(226, 100%, 87%); //CTA Text

//Neutral color
$white: hsl(0, 0%, 100%); //Pricing Component Background
$very-pale-blue: hsl(230, 100%, 99%); //Main Background
$light-grayish-blue1: hsl(224, 65%, 95%); //Empty Slider Bar
$light-grayish-blue2: hsl(223, 50%, 87%); //Toggle Background
$grayish-blue: hsl(225, 20%, 60%); //Text
$dark-saturated-blue: hsl(227, 35%, 25%); //Text & CTA Background

//Mixin breakpoints for media queries
$medium: 610px;
@mixin medium {
  @media (max-width: #{$medium}) {
    @content;
  }
}

$small: 540px;
@mixin small {
  @media (max-width: #{$small}) {
    @content;
  }
}

$mobile: 430px;
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin height-res {
  @media (max-height: 800px) {
    @content;
  }
}
